* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #000;
}

.container .header {
    width: 100%;
    padding: 0 5rem;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    z-index: 10000;
}

.container .header img {
    height: 5rem;
    margin: 4rem 4rem;
}

.container .header .logo a {
    font-size: 18px;
    text-decoration: none;
    background-color: red;
    border-radius: 0.5rem;
    color: #fff;
    padding: 0.5rem 1.5rem;
    margin-right: 40px;
}

.container .header .logo input {
    background-color: transparent;
    border-radius: .5rem;
    color: #fff;
    padding: .7rem 1rem;
}

.bg_img {
    width: 100%;
    height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    background-blend-mode:darken;
}

.bg_img:before {
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 40rem;
    z-index: 1;
    position: absolute;
    background: linear-gradient(to bottom, #000, transparent);
    background-blend-mode: darken;
}

.bg_img:after {
    content: " ";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40rem;
    z-index: 1;
    position: absolute;
    background: linear-gradient(to top, #000, transparent);
    background-blend-mode: darken;
}

.bg_img .mainbg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    position: absolute;
    background-blend-mode: darken;
    background-size: cover;
}

.bg_img .box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-blend-mode: darken;
}

.bg_img .box .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 115%;
}

.bg_img .box .heading h2 {
    font-family: 'Barlow', sans-serif;
    font-size: 4.8rem;
    color: white;
    width: 156%;
    font-weight: 900;
    letter-spacing: 1px;
}

.bg_img .box .heading h5 {
    padding: 1rem 0;
    font-size: 2.6rem;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
}

.bg_img .box .heading p {
    padding: 1.2rem 0;
    padding-bottom: 2rem;
    font-size: 2.2rem;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}

.bg_img .box .search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bg_img .box .search input {
    font-size: 2rem;
    border: .1rem solid#827f7f;
    outline: none;
    border-radius: .5rem;
    padding: 1rem 1rem 0 0;
    height: 6rem;
    align-items: center;
    min-width: 40rem;
}

.bg_img .box .search a {
    line-height: 6rem;
    font-size: 2.6rem;
    background-color: #e50914;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 .1 0 rgba(0, 0, 0, 0.5);
    padding: 0 3rem;
    min-width: 31rem;
    margin-left: 22px;
}

.option{
    margin: 12px;
    height: 31px;
    width: 83px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border-radius: 11%;
}
.input{
    background-color: transparent;
    color:white;
    border: 1px;
    font-size: 20px;
}

.section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 4rem;
}

.section.content {
    width: 40%;
    font-family: 'Barlow', sans-serif;
}

.section .img {
    width: 61%;

}

.section img {
    height: 36rem;
}

.video-1 {
    position: relative;
    z-index: 1;
    top: 1vh;;
    width: 44rem;
    height: 29rem;
    left: 4vw;
    margin-left: 2rem;
    margin-top: 157px;
}

.video-2 {
    position: relative;
    z-index: 1;
    top: 12vh;
    width:41rem;
    height: 29rem;
    left: 4vw;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-right: 10px;
  
}

.section .content h1 {
    font-size: 4.4rem;
    letter-spacing: .2rem;
    padding-bottom: 1rem;
    color: #fff;
    text-align: center;
    padding-right: 52px;
}

.section .content p {
    font-size: 2.4rem;
    letter-spacing: .2rem;
    padding-bottom: 1rem;
    color: #fff;
   
}

.faq {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.faq h1 {
    color: #f7f3f3;
    font-size: 3rem;
    padding: 3rem 0 4rem 0;
}

.title {
    align-items: center;
    text-decoration: none;
    background: #303030;
    padding: 2rem 2rem;
    display: flex;
    color: #fff;
    font-size: 1.6rem;
    justify-content: space-between;
    font-weight: 500;
}

.icon {
    width: 2rem;
    position: relative;
}

.icon ::before,
.icon::after {
    background: #fff;
    content: "";
    position: absolute;
    top: -.15rem;
    width: 2rem;
    height: .2rem;
}

.text {
    background: #303030;
    margin: .3rem 0;
    line-height: 3.5rem;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    height: 0;
    opacity: 0;
}

.item:target .text {
    opacity: 1;
    height: auto;
    padding: 2rem 3rem;
    margin: 0%;
    border-top: .2rem solid black;
    margin-bottom: .5rem;
}

.mail {
    width: 100%;
    height: 40vh;
    background-color: rgb(0 0 0);
    ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email h3 {
    font-size: 22px;
}

.form {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form input {
    color: rgb(250, 250, 251);
    font-weight: 800;
    background-color: rgb(0 0 0);
    ;
    border: 1px solid white;
    padding: 1rem;
    width: 20rem;
    margin-top: 5vh;
}

.form button {
    color: white;
    background-color: rgb(255, 0, 0);
    font-size: 1.4rem;
    padding: 1.3rem;
    margin-top: 40px;
  margin-left: 10px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 4rem 0;
}

.footer .links {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.footer .links li a {
    color: #ccc;  
    font-size: 1.6rem;
}

.footer .links li a:hover {
    border-bottom: .1rem solid#ccc;
}
.fotter_p{
    font-size: 1.9rem;
    letter-spacing: .2rem;
    padding-bottom: 1rem;
    color: #fff;
}

.footer .links li {
    padding: .5rem 0;
}

